<section class="home">
    <div class="container">
        <div class="success">
            <div class="image">
                <img class="check-img" src="/public/img/file-icon.png" alt="">
            </div>
            <h3>{{uploadMsg}}</h3>
            <div class="links">
                <a href="/upload">
                    <button class="btn btn-primary">Back to Upload Page</button>
                </a><br>
                <a href="/">
                    <button class="btn btn-primary">Back to Home Page</button>
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .image img {
        height: 100px;
        width: auto;
    }

    .success {
        justify-content: center;
        text-align: center;
    }



</style>